:root {
  --main-background: #ffffff;
  --tui-base-01: #f0f0f0;
  --error-background: #eab7b7;
  --success-background: #afdcaf;
  --card-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}