:root {
  --main-background: #ffffff;
  --tui-base-01: #f0f0f0;
  --tui-font-text: "Excalifont", sans-serif;
  --tui-font-heading: "Excalifont", sans-serif;
  --card-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
