.code-editor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 0.5rem;
  height: 100%;
  gap: 1rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
  border-bottom: 0.063rem solid var(--tui-base-04);
}

.code-container,
.message-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  gap: 1rem;
  padding: 1.25rem;
  border-radius: 0.5rem;
  height: 100%;
  background: var(--main-background);
  box-shadow: var(--card-shadow);
}

.code-container {
  min-height: 60%;
}

.error-message,
.output {
  // margin-top: 1.25rem;
  padding: 0.938rem;
  border-radius: 0.313rem;
  // flex-grow: 1;
}

.error-message {
  background: rgb(234, 183, 183);
}

.output {
  background: rgb(175, 220, 175);
}

.buttons {
  display: flex;
  justify-content: left;
  gap: 1rem;
}