<div class="container">
    <form [formGroup]="formGroup">
        <tui-select
            formControlName="language"
            tuiTextfieldSize="m"
            [tuiTextfieldLabelOutside]="true"
        >
            <tui-data-list-wrapper
                *tuiDataList
                [items]="languages"
                itemLabelField="value"
            ></tui-data-list-wrapper>
        </tui-select>
    </form>

    <ngx-monaco-editor
        [options]="editorOptions"
        [(ngModel)]="code"
        style="height: 400px"
    >
    </ngx-monaco-editor>

    <button
        tuiButton
        type="button"
        appearance="primary"
        size="m"
        (click)="runCode()"
    >
        Run
    </button>

    <div *ngIf="output" class="output">
        <h3>Output:</h3>
        <pre>{{ output }}</pre>
    </div>
</div>
