<div class="code-editor">
    <div class="code-container">
        <h4 class="title">
            <tui-marker-icon
                mode="primary"
                new
                size="xxs"
                src="tuiIconCodeLarge"
            ></tui-marker-icon>
            Код
        </h4>

        <form [formGroup]="formGroup">
            <tui-select
                formControlName="language"
                tuiTextfieldSize="m"
                [tuiTextfieldLabelOutside]="true"
                [readOnly]="loading()"
            >
                <tui-data-list-wrapper
                    *tuiDataList
                    [items]="languages"
                ></tui-data-list-wrapper>
            </tui-select>
        </form>

        <ngx-monaco-editor
            style="height: 100%"
            [options]="editorOptions"
            [(ngModel)]="code"
        >
        </ngx-monaco-editor>

        <div class="buttons">
            <button
                tuiButton
                type="button"
                appearance="primary"
                size="m"
                (click)="runCode()"
                [showLoader]="loading()"
                [disabled]="loading()"
            >
                Старт
            </button>

            <button
                tuiButton
                type="button"
                appearance="secondary"
                size="m"
                (click)="cleanCode()"
                [showLoader]="loading()"
                [disabled]="loading()"
            >
                Сброс
            </button>
        </div>
    </div>

    <div class="message-container">
        <h4 class="title">
            <tui-marker-icon
                mode="primary"
                new
                size="xxs"
                src="tuiIconCheckSquareLarge"
            ></tui-marker-icon>
            Результат
        </h4>

        <div *ngIf="error" class="error-message">
            <h3>{{ status }}:</h3>
            <pre>{{ error }}</pre>
        </div>

        <div *ngIf="output" class="output">
            <h3>{{ status }}:</h3>
            <pre>{{ output }}</pre>
        </div>

        <div class="footer"></div>
    </div>
</div>
