<div class="container">
    <form [formGroup]="formGroup">
        <tui-select
            formControlName="language"
            tuiTextfieldSize="m"
            [tuiTextfieldLabelOutside]="true"
            [readOnly]="loading()"
        >
            <tui-data-list-wrapper
                *tuiDataList
                [items]="languages"
                itemLabelField="value"
            ></tui-data-list-wrapper>
        </tui-select>
    </form>

    <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code">
    </ngx-monaco-editor>

    <button
        tuiButton
        type="button"
        appearance="primary"
        size="m"
        (click)="runCode()"
        [showLoader]="loading()"
        [disabled]="loading()"
    >
        Run
    </button>

    <div *ngIf="error" class="error-message">
        <h3>Error:</h3>
        <pre>{{ error }}</pre>
    </div>

    <div *ngIf="output" class="output">
        <h3>Output:</h3>
        <pre>{{ output }}</pre>
    </div>
</div>
