<div class="container">
    <h1>Online Code Editor</h1>

    <div>
        <label for="language">Select Language:</label>
        <select [(ngModel)]="language">
            <option value="javascript">JavaScript</option>
            <option value="python">Python</option>
        </select>
    </div>

    <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code">
    </ngx-monaco-editor>

    <button tuiButton appearance="primary" size="m" (click)="runCode()">
        Run
    </button>

    <div *ngIf="output" class="output">
        <h3>Output:</h3>
        <pre>{{ output }}</pre>
    </div>
</div>
