<div class="task-description">
    <h4 class="title">
        <tui-marker-icon
            mode="primary"
            new
            size="xxs"
            src="tuiIconFileTextLarge"
        ></tui-marker-icon>
        Задача
    </h4>

    <h2>{{ currentTask.title }}</h2>

    <div>
        <strong>{{ currentTask.descriptionTitle }}</strong>
        <p>{{ currentTask.description }}</p>
    </div>

    <div>
        <strong>{{ currentTask.instructionsTitle }}</strong>
        <ul>
            <li *ngFor="let instruction of currentTask.instructions">
                &bull; {{ instruction }}
            </li>
        </ul>
    </div>

    <div>
        <strong>{{ currentTask.hintTitle }}</strong>
        <ul>
            <li *ngFor="let hint of currentTask.hints">&bull; {{ hint }}</li>
        </ul>
    </div>

    <div class="footer"></div>
</div>
