<div class="task-description">
    <!-- <form [formGroup]="formGroup">
        <tui-select
            formControlName="task"
            tuiTextfieldSize="m"
            [tuiTextfieldLabelOutside]="true"
        >
            <tui-data-list-wrapper
                *tuiDataList
                [items]="tasks"
                itemLabelField="title"
            ></tui-data-list-wrapper>
        </tui-select>
    </form> -->

    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
</div>

<!-- <div class="task-description">
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
</div> -->
